body {
    background-color: #333333;
    color: #dddddd;
}

.main {
    margin-top: 20px;
}



.brand-intro {
    h1 {
        font-size: 3em;
        font-family: "Lucida Console", Monaco, monospace;
    }
    p {
        font-size: 1.5em;
        .tagline {
            font-style: italic;
        }
    }
}

.demo {
   margin-top: 30px; 
}
