{{ partial "header.html" . }}

<div class="container brand-intro">
    <div class="row">
        <div class="col-12 text-center">
            <h1>{{ .Title }}</h1>
        </div>

        <div class="col-12 text-center">
            <p>
                A community-driven performance tool for creating projected visual experiences on the Linux operating system.
                <br/>
                <span class="tagline">Seize the means of video art</span>.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <a href="https://github.com/chao-mu/vidrevolt" class="btn btn-lg btn-success">Get Started</a>
        </div>
    </div>

</div>

<div class="container demo">
    <div id="demo-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="images/demo-01.jpg" alt="First slide">
            </div>
        </div>
    </div>
</div>

{{ partial "footer.html" . }}

