{{ partial "header.html" . }}

<div class="container-fluid brand-intro">
    <div class="row">
        <div class="col-12 text-center">
            <h1>VIDREVOLT</h1>
        </div>

        <div class="col-12 text-center">
            <p>
                A performance tool for creating projected visual experiences on the Linux operating system.
                <br/>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <a href="https://github.com/chao-mu/vidrevolt" class="btn btn-lg btn-primary">Get Started</a>
        </div>
    </div>

</div>

<div class="container splash">
    <img class="d-block w-100" src="/images/splash.png" alt="First slide">
</div>

{{ partial "footer.html" . }}

